
sprout-wrap/
cookbooks/

.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret

cookbooks
tmp
chef-client-running.pid

dotfiles_daemon/log
Backup/.data
Backup/log
Backup/.tmp
